# Node
node_modules/
.next/
Web/out/
.cache/

# Go
*.o
*.a
*.so
*.syso
*.res
windows/pvm.exe
windows/pvm-setup.exe
windows/aria2/
windows/pvm_res.syso
windows/pvm.res

# Python
__pycache__/
*.pyc
*.pyo
*.log
.venv/
venv/

# IDEs & OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store

# Misc
.env
*.pfx
!dist/
